.dropdownContainer {
    background: linear-gradient(to right bottom, #014C67 0%, #0185A1 100%);
    /* border: 3px solid red; */
    height: 90vh;
    top: 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* display: none; */
}

.hide {
    display: none;
  }
