/** @format */

.nav {
  display: flex;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  justify-content: space-evenly;
  background-color: white;
  /* display: none; */
}

.navLink {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-style: italic;
  /* border: 2px solid black; */
}

.navLabel {
  color: #0185A1;
  text-decoration: none;
}
